@model AprilisJam.Data.UserApplication

@{
    ViewData["Title"] = "Create";
}

@*<h2>Create</h2>*@

<form asp-action="Create">
    <div class="form-horizontal">
        @*<h4>UserApplication</h4>
        <hr />*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="School" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AprilisQuestion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AprilisQuestion" class="form-control" />
                <span asp-validation-for="AprilisQuestion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdditionalNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdditionalNotes" class="form-control" />
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rejestracja" class="btn btn-default" />
            </div>
        </div>
        Pola oznaczone gwiazdką * są wymagane.
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
